*, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    transition: all 0.3s ease;
}
:root{
    --light-green: #83E68C;
    --soft-green: #7CE292;
    --medium-green: #79DF95;
    --bright-lime-green: #88E987;
}

body{
    width: min(1300px, 100%);
    margin: auto;
}

/* SIGNUP and LOGIN */
body[class="signup"],
body[class="login"]{
    background: url(/static/images/luffy.jpg);
    background: conic-gradient(darkolivegreen, darkgreen, darkslategrey, darkolivegreen);
    color: white;
    background-blend-mode: multiply;
    background-position: center;
}
body[class="signup"] header,
body[class="login"] header,
body[class="error"] header{
    background: rgba(0,0,0,0.6);
}



body[class="signup"] .bug.show,
body[class="login"] .bug.show{
    animation: showBug 0.4s ease-in-out forwards;
}
@keyframes showBug{
    from{transform: translateY(30px); pointer-events: none; visibility: hidden; opacity: 0;}
    to{transform: translateY(0px); pointer-events: all; visibility: visible; opacity: 1;}
}

body[class="signup"] .bug.hide,
body[class="login"] .bug.hide{
    animation: hideBug 0.4s ease-out forwards;
}
@keyframes hideBug{
    from{transform: translateY(0px); pointer-events: all; visibility: visible; opacity: 1;}
    to{transform: translateY(50px); pointer-events: none; visibility: hidden; opacity: 0;}
}
body[class="signup"] .bug,
body[class="login"] .bug{
    position: fixed;
    visibility: hidden;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body[class="signup"] .bug .cont,
body[class="login"] .bug .cont{
    padding: 20px;
    width: min(450px, 90%);
    border: 2px solid;
    border-image: conic-gradient(red, blue, red) 1;    
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    font-variant: small-caps;
}
body[class="login"] .bug .cont h3,
body[class="signup"] .bug .cont h3{
    font-size: clamp(25px, 5vw, 30px);
    margin-bottom: 20px;
}
body[class="signup"] .bug .cont ol li,
body[class="login"] .bug .cont ol li{
    list-style: none;
    line-height: 1.5;
    color: rgb(172, 61, 61);    
}
body[class="signup"] .bug .cont button,
body[class="login"] .bug .cont button{
    border: none;
    color: white;
    margin-top: 20px;
    padding: 5px 30px;
    background: black;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}
body[class="signup"] .bug .cont button::before,
body[class="login"] .bug .cont button::after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: conic-gradient(red, blue, red);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 2px;
    transition: filter 0.5s ease;
    filter: blur(3px);
}
body[class="signup"] .bug .cont button:hover::before,
body[class="login"] .bug .cont button:hover::after{
    filter: blur(10px);
}



/* HOME PAGE */
body[class="home"]{
    background: url(/static/images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
}
body[class="home"] .container{
    min-height: 100vh;
    margin-top: -62px;
    height: 100vh;
}
body[class="home"] .container .sub{
    background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.7), rgba(0,0,0,0.6), rgba(0,0,0,0.5), rgba(0,0,0,0.4), transparent, transparent);
    padding: 0px 20px 0 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    height: 100%;
    width: min(600px, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
body[class="home"] .container .sub h1{
    font-variant: small-caps;
}
body[class="home"] .container .sub p{
    margin-top: 10px;
}
body[class="home"] .container .sub .links{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    gap: 30px;
}
body[class="home"] .container .sub .links a{
    padding: 10px 50px;
    text-decoration: none;
    color: white;
    position: relative;
    background: rgb(6, 70, 6);
    background: black;
    border-radius: 5px;
}
body[class="home"] .container .sub .links a::before,
body[class="home"] .container .sub .links a::after{
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: inherit;
    background: conic-gradient(blue, red, blue);
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 3px;
    filter: blur(2px);
    transition: filter 0.5s ease;
}
body[class="home"] .container .sub .links a:hover::after,
body[class="home"] .container .sub .links a:hover::before{
    filter: blur(20px);    
}


/* ERROR PAGE */

body[class="error"]{
    background: rgb(43, 43, 65);
    color: white;

}
body[class="error"] .container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -64px;
}
body[class="error"] .container .sub{
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-backdrop-filter: blur(10px) brightness(70%);
    backdrop-filter: blur(10px) brightness(70%);
    border-radius: 5px;
    background: black;
    width: min(500px, 90%);
    border: 2px solid;
    border-image: conic-gradient(red, blue, red) 1;
    text-align: center;
    line-height: 1.5;
}
body[class="error"] .container .sub h1{
    font-variant: small-caps;
    text-transform: capitalize;
}
body[class="error"] .container .sub i{
    font-size: clamp(25px, 10vw, 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 50%;
    padding: 20px 50px;
    background: rgb(233, 62, 62);
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px wheat;
}
body[class="error"] .container .sub a{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    display: block;
    margin: 20px auto 0px auto;
    width: fit-content;
    border-radius: 5px;
    background: black;
    position: relative;
}
body[class="error"] .container .sub a::before,
body[class="error"] .container .sub a::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: conic-gradient(red, blue, red);
    height: 100%;
    width: 100%;
    border-radius: inherit;
    padding: 2px;
    transform: translate(-50%, -50%);
    z-index: -1;    
    transition: filter 0.4s ease;
    filter: blur(5px);

}
body[class="error"] .container .sub a:hover::after,
body[class="error"] .container .sub a:hover::before{
    filter: blur(20px);
}

/* HEADER */
header{
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    justify-content: space-between;
    width: 100%;
    -webkit-backdrop-filter: blur(10px) brightness(100%);
    backdrop-filter: blur(10px) brightness(100%);
}
header img{
    width: 50px;
}
header h1{
    font-variant: small-caps;
}
header h1 a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}
header .links{
    display: flex;
    gap: 20px;
}
header .links a{
    color: white;
    text-decoration: none;
    font-variant: small-caps;
    border: 2px solid rgb(6, 70, 6);
    padding: 10px 30px;
    border-radius: 5px;
}
header .links a:hover,
header .links .active{
    background: rgb(6, 70, 6);
}
header nav{
    width: 40px;
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
header nav:hover div{
    background: wheat;
}
header nav div{
    width: 25px;
    height: 4px;
    background: white;
    margin: 2px;
    border-radius: 5px;
}
header nav.open div:first-child{
    transform: translateY(10px) rotate(40deg);
    opacity: 1;
}
header nav.open div{
    opacity: 0;
}
header nav.open div:last-child{
    opacity: 1;
    transform: translateY(-6px) rotate(-40deg);
}


/* SIGNUP and LOGIN */
body[class="signup"] .container,
body[class="login"] .container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    margin-top: -62px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4));
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    h4{margin: 10px 0;}
    a{color: white;}
}
body[class="signup"] .container .sub,
body[class="login"] .container .sub{
    padding: 40px;
    border-radius: 10px;
    border: 1px solid grey;
    width: min(550px, 90%);
    background: rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px rgb(6, 70, 6);
}
@keyframes openLink{
    from{height: 0px;}
    to{height: 100px;}
}
@keyframes closeLink{
    from{height: 100px;}
    to{height: 0px;}
}


form{
    margin-top: 10px;
}
form div{
    margin: 10px 0;
}
form p{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 30% auto;
    overflow-x: hidden;
}
form p label{
    background: rgb(6, 70, 6);
    padding: 5px 0 5px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-variant: small-caps;
}
form p input{
    padding: 5px 10px;
    outline: 2px solid transparent;
    background: white;
    border: none;
    border-radius: 0px;
    color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
form p input:focus,
form p input:hover{
    outline-color: rgb(6, 70, 6);
    /* outline-color: blue; */
}
form button{
    margin-top: 10px;
    width: 100%;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    background: rgb(6, 70, 6);
    color: white;
    box-shadow: 4px 5px 5px black;
    border-radius: 5px;
}
form button:hover{
    box-shadow: 0px 0px 0px black;
    transform: translate(3px, 4px);
    border-radius: 5px;
}
form p input[type="checkbox"]{
    accent-color: green;
}




@media screen and (max-width: 768px) {
    header{
        justify-content: space-around;
    }
    header img{
        width: 40px;
    }
    h1{
        font-size: 25px;
    }
    header nav{
        display: flex;
    }
    header .links{
        display: block;
        position: absolute;
        overflow: hidden;
        top: 100%;
        width: 100%;
        height: 0;
        padding: 0px 10px;
        background: black;
    }    
    header .links.open{
        animation: openLink 0.4s linear forwards;
    }
    header .links.close{
        animation: closeLink 0.2s linear forwards;
    }
    header .links a{
        background: rgba(0, 0, 0, 0.9);
        display: block;
        border-radius: 5px;
        text-align: center;
        margin: 5px 0;
    }
    body[class="login"] .container .sub,
    body[class="signup"] .container .sub{
        padding: 20px;
    }
    body[class="login"] .container .sub h1,
    body[class="signup"] .container .sub h1{
        font-size: 25px;
    }
    body[class="home"] .container .sub{
        text-align: center;
    }
    body[class="home"] .container .sub .links{
        margin: 40px auto;
    }
    body[class="home"] .container .sub .links a{
        padding: 5px 40px;
    }


    body[class="error"] .container .sub i{
        padding: 20px 10px;
        width: 80px;
        height: 80px;
    }
    body[class="error"] .container .sub a{
        padding: 5px 20px;
    }
}