*, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    transition: all 0.3s ease;
}
body[class="signup"],
body[class="login"]{
    background: url(/static/images/luffy.jpg), linear-gradient(to right, rgba(0, 0, 0, 0.7));
    background-blend-mode: multiply;
    background-position: center;
    color: white;
}

/* HOME PAGE */
body[class="home"]{
    background: url(/static/images/hero.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
}
body[class="home"] .container{
    min-height: 100vh;
}
body[class="home"] .container .sub{
    -webkit-backdrop-filter: blur(12px) brightness(100%);
    backdrop-filter: blur(12px) brightness(100%);
    background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.7), rgba(0,0,0,0.6), rgba(0,0,0,0.5), rgba(0,0,0,0.4), transparent, transparent);
    padding: 0px 20px 0 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    height: 100vh;
    width: min(600px, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
body[class="home"] .container .sub h1{
    font-variant: small-caps;
}
body[class="home"] .container .sub p{
    margin-top: 10px;
}
body[class="home"] .container .sub .links{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    gap: 30px;
}
body[class="home"] .container .sub .links a{
    padding: 10px 50px;
    text-decoration: none;
    color: white;
    position: relative;
    background: rgb(6, 70, 6);
    background: black;
    border-radius: 5px;
}
body[class="home"] .container .sub .links a::before,
body[class="home"] .container .sub .links a::after{
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: inherit;
    background: conic-gradient(blue, red, blue);
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 3px;
    filter: blur(2px);
    transition: filter 0.5s ease;
}
body[class="home"] .container .sub .links a:hover::after,
body[class="home"] .container .sub .links a:hover::before{
    filter: blur(20px);    
}


/* HEADER */
header{
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-backdrop-filter: blur(10px) brightness(100%);
    backdrop-filter: blur(10px) brightness(100%);
}
header h1{
    font-variant: small-caps;
}
header h1 a{
    text-decoration: none;
    color: white;
}
header .links{
    display: flex;
    gap: 20px;
}
header .links a{
    color: white;
    text-decoration: none;
    font-variant: small-caps;
    border: 2px solid rgb(6, 70, 6);
    padding: 10px 30px;
    border-radius: 5px;
}
header .links a:hover,
header .links .active{
    background: rgb(6, 70, 6);
}
header nav{
    width: 40px;
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
header nav:hover div{
    background: wheat;
}
header nav div{
    width: 25px;
    height: 4px;
    background: white;
    margin: 2px;
    border-radius: 5px;
}
header nav.open div:first-child{
    transform: translateY(10px) rotate(40deg);
    opacity: 1;
}
header nav.open div{
    opacity: 0;
}
header nav.open div:last-child{
    opacity: 1;
    transform: translateY(-6px) rotate(-40deg);
}
body[class="signup"] .container,
body[class="login"] .container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body[class="signup"] .container .sub,
body[class="login"] .container .sub{
    -webkit-backdrop-filter: blur(10px) brightness(100%);
    backdrop-filter: blur(10px) brightness(100%);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(126, 124, 124);
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    width: min(450px, 80%);
}
@keyframes openLink{
    from{height: 0px;}
    to{height: 100px;}
}
@keyframes closeLink{
    from{height: 100px;}
    to{height: 0px;}
}


form{
    margin-top: 20px;
}
form div{
    margin: 10px 0;
}
form div input{
    width: 100%;
    margin-top: 5px;
    padding: 5px 0 5px 10px;
    outline: 2px solid transparent;
    background: white;
    border: none;
    color: black;
    border-radius: 2px;
}
form div input:focus,
form div input:hover{
    outline-color: rgb(6, 70, 6);
    outline-color: blue;
}
form button{
    margin-top: 20px;
    width: 100%;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    background: wheat;
    color: black;
    box-shadow: 4px 5px 5px black;
}
form button:hover{
    box-shadow: 0px 0px 0px black;
    transform: translate(3px, 4px);
    border-radius: 5px;
}
form a{
    color: white;
}
form a:hover{
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    header{
        justify-content: space-around;
        z-index: 2;
    }
    h1{
        font-size: 25px;
    }
    header nav{
        display: flex;
    }
    header .links{
        display: block;
        position: absolute;
        overflow: hidden;
        top: 100%;
        width: 100%;
        height: 0;
        padding: 0px 10px;
        -webkit-backdrop-filter: blur(10px) brightness(10%);
        backdrop-filter: blur(10px) brightness(10%);
        background: black;
    }    
    header .links.open{
        animation: openLink 0.4s linear forwards;
    }
    header .links.close{
        animation: closeLink 0.2s linear forwards;
    }
    header .links a{
        background: rgba(0, 0, 0, 0.9);
        display: block;
        border-radius: 5px;
        text-align: center;
        margin: 5px 0;

    }
    body[class="login"] .container .sub,
    body[class="signup"] .container .sub{
        padding: 20px;
    }
    body[class="login"] .container .sub h1,
    body[class="signup"] .container .sub h1{
        font-size: 25px;
    }
    body[class="home"] .container .sub{
        -webkit-backdrop-filter: blur(3px) brightness(50%);
        backdrop-filter: blur(3px) brightness(50%);
        text-align: center;
    }
    body[class="home"] .container .sub .links{
        margin: 40px auto;
    }
    body[class="home"] .container .sub .links a{
        padding: 5px 40px;
    }
}