<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/general.css">
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Home - MovieBox</title>
</head>
<body class="home">

    <header>
        <div>
            <h1><a href="http://" target="_blank" rel="noopener noreferrer">
                <img src="/static/images/favicon.png" alt="">
                MovieBox</a></h1>
        </div>

        <nav>
            <div></div>
            <div></div>
            <div></div>
        </nav>

        <div class="links">
            <a href="signup">
                <i class="fa-solid fa-user-plus"></i>
                Signup
            </a>

            <a href="login">
                <i class="fa-solid fa-right-to-bracket"></i>
                Login
            </a>
        </div>
    </header>

    <div class="container">
        <div class="sub">
            <h1>Discover. Stream. Enjoy. <br>Your ultimate destination for movies — anytime, anywhere.</h1>
            <p>From timeless classics to the latest blockbusters, our app brings the world of cinema right to your fingertips.</p>

            <div class="links">
                <a href="signup" class="active">Signup</a>
                <a href="login">Login</a>
            </div>
        </div>

    </div>
</body>
<script src="/static/app.js" defer></script>
</html>