<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/general.css">
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Login - MovieBox</title>
</head>
<body class="login">

    <header>
        <div>
            <h1><a href="home">
                <img src="/static/images/favicon.png" alt="">
                MovieBox</a></h1>
        </div>

        <nav>
            <div></div>
            <div></div>
            <div></div>
        </nav>

        <div class="links">
            <a href="signup">
                <i class="fa-solid fa-user-plus"></i>
                Signup
            </a>

            <a class="active">
                <i class="fa-solid fa-right-to-bracket"></i>
                Login
            </a>
        </div>
    </header>

    <div class="bug">
        <div class="cont">
            <h3>Errors</h3>
            <ol>
                
            </ol>
            <div class="options">
                <button type="button">Got it!</button>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="sub">
            <h1>Login - MovieBox</h1>
            <form action="formhandler" method="get">
                <h4>Don't have an account? <a href="signup">Signup</a></h4>
                {% csrf_token %}
                {{ loginform.as_p }}
                <h4><input type="checkbox" name="remeber" id="remember" title="Remember Me"> Save Password | <a href="retrieve">Forgot Password?</a></h4>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>

</body>
<script src="/static/app.js" defer></script>
</html>