<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/forms.css">
    <title>Signup</title>
</head>
<body class="signup">
    
    <div class="container">
        <div class="sub">
            <form action="" method="post" enctype="multipart/form-data">
                <h1>Signup - MovieBox</h1>
                {% csrf_token %}
                {{ signupform }}
                <button type="submit">Signup</button>
            </form>
        </div>
    </div>

</body>
</html>