<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/forms.css">
    <title>Signup</title>
</head>
<body class="signup">

    <header>
        <div>
            <h1>MovieBox</h1>
        </div>

        <nav>
            <div></div>
            <div></div>
            <div></div>
        </nav>

        <div class="links">
            <a class="active">

                Signup
            </a>

            <a href="login">

                Login
            </a>
        </div>
    </header>
    
    <div class="container">
        <div class="sub">
            <h1>Signup - MovieBox</h1>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ signupform }}
                <p>Already have an account? <a href="login">Login</a> <span>luffy background</span></p>
                <button type="submit">Signup</button>
            </form>
        </div>
    </div>

</body>
<script src="/static/app.js" defer></script>
</html>