<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/general.css">
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Signup - MovieBox</title>
</head>
<body class="signup">

    <header>
        <div>
            <h1><a href="home">
                <img src="/static/images/favicon.png" alt="">
                MovieBox</a></h1>
        </div>

        <nav>
            <div></div>
            <div></div>
            <div></div>
        </nav>

        <div class="links">
            <a class="active">
                <i class="fa-solid fa-user-plus"></i>
                Signup
            </a>

            <a href="login">
                <i class="fa-solid fa-right-to-bracket"></i>
                Login
            </a>
        </div>

    </header>

    <div class="bug">
        <div class="cont">
            <h3>Errors</h3>
            <ol>
                <!-- <li>That is not it</li> -->
            </ol>
            <div class="options">
                <button type="button">Got it!</button>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="sub">
            <h1>Signup - MovieBox</h1>
            <h4>Already have an account? <a href="login">Login</a></h4>
            <form action="formhandler" method="post" enctype="multipart/form-data">
                {{ message }}
                {% csrf_token %}
                {{ signupform.as_p }}
                <h4>By signing up, you agree to MovieBox and the privacy policy</h4>
                <button type="submit">Signup</button>
                <h4>{{usernames}}</h4>
                <h4>{{emails}}</h4>
            </form>
        </div>
    </div>

</body>
<script src="/static/app.js" defer></script>
</html>